.navbar {
  background-color: var(--primary);
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

.navItem a,
.navItem button {
  color: var(--background);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navItem button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.navItem a:hover,
.navItem button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
